# Exclude unneccessary files, sensitive config information, and any code/data taken and adapted from Fatal Core source.
node_modules/
All Cards/
scripts/
stolenUtils.js
tokendata.js
cardImgData.js
config.json
*.csv
out.png
